body{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#headings h2, h3, h4, h5, h6{
    color: blueviolet;
    
}
p{
    color: rgb(255, 127, 221);
}

ul{
    color: yellow;
    list-style-image: url('src/pointer-icon.png')
}

a{
    text-decoration: none;
}

a:hover{
    background-color: orange;
}